body {
    color: #40514E;
    margin: 0;
    text-align: center ;
    font-family: "Merriweather", serif;

}

h1 {
    margin: 5px auto 0 auto;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-family: "Sacramento", serif;
    
    
}

h2{ 
    padding: 10px auto 10px auto;
    color: rgb(2, 2, 2);
    font-family: "Montserrat", serif;
    font-size: 1.7rem;
    position: relative;
    font-weight: normal;
    padding-bottom: 5px;
    

}


h3{

    font-family: "Montserrat", serif;
}

a {
    color:#b4b4b477;
    text-decoration: none;
    font-family: "Montserrat", serif;
    margin: 10px 20px;

}

a:hover {
    color:#b4b4b4c0;
}
p {
    line-height: 1.8;

}

hr {
     border: dotted rgb(217, 217, 219) 6px;
     border-bottom: none;
     width: 4%;
     margin: 100px auto;

}
.top-section {
    position: relative;
    background-color: #0c0c0cee;
    padding-top: 100px;
    

}

.a-programmer h2{
    color: rgb(253, 253, 253) !important;
}

.middle-section {
    margin: 70px 0 ;
    

}

.bottom-section {
    background-color: #0c0c0cee;
    padding: 50px 0 20px;
 
}

.img-1 {
    width: 10%;
    position: relative;
    
    

}

.img-2 {
    width: 20%;
    float: left;
    margin-right: 2%;
    
}

.img-3 {
    width: 20%;
    float: right;
    margin-left: 20px;

    
}




.skill-row{
    width: 50%;
    margin: 60px auto 60px auto;
    text-align: left;
    
}


.pro {
    color: rgb(253, 253, 253) !important;
}

.pros{
    text-decoration: underline;
}

.mountain {
    margin: auto; 
    width: 50%;


}



.top-cloud{
    width: 12%;
    position: absolute;
    right: 25%;
    top: 5%;
    
}


.bottom-cloud{
    width: 12%;
    position: absolute;
    left: 25%;
    bottom: 63%;

}


.intro {
    width: 45%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px ;
}


.btn {
    background: #050505;
    background-image: -webkit-linear-gradient(top, #050505, #9fa6ab);
    background-image: -moz-linear-gradient(top, #050505, #9fa6ab);
    background-image: -ms-linear-gradient(top, #050505, #9fa6ab);
    background-image: -o-linear-gradient(top, #050505, #9fa6ab);
    background-image: linear-gradient(to bottom, #050505, #9fa6ab);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #9fa6ab;
    background-image: -webkit-linear-gradient(top, #9fa6ab, #050505);
    background-image: -moz-linear-gradient(top, #9fa6ab, #050505);
    background-image: -ms-linear-gradient(top, #9fa6ab, #050505);
    background-image: -o-linear-gradient(top, #9fa6ab, #050505);
    background-image: linear-gradient(to bottom, #9fa6ab, #050505);
    text-decoration: none;
  }

  .copy {
    color:#b4b4b477;
    font-size: 0.75rem;
    padding: 15px 0;
  }